@model Zsolt_Szabo_Project_NetflixTrackerApp.Models.User

@{
    ViewData["Title"] = "Account";
}

<div class="account-container">
    <h1>@Model.FirstName @Model.LastName's Profile</h1>
    <div class="account-card">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Length > 0)
        {
            string base64Image = Convert.ToBase64String(Model.ProfilePicture);
            string imgSrc = $"data:image/png;base64,{base64Image}"; 

            <img src="@imgSrc" class="profile-pic" alt="Profile Picture" style="width:150px; height:150px; border-radius:50%;" />
        }
        else
        {
            <img src="/images/default-profile.png" alt="Default Profile Picture" style="width:150px; height:150px; border-radius:50%;" />
        }


        <div class="account-info">
            <div class="account-field">
                <label>First Name:</label>
                <span>@Model.FirstName</span>
                <i class="fa fa-pencil edit-icon"></i>
            </div>
            <div class="account-field">
                <label>Last Name:</label>
                <span>@Model.LastName</span>
                <i class="fa fa-pencil edit-icon"></i>
            </div>
            <div class="account-field">
                <label>Username:</label>
                <span>@Model.Username</span>
                <i class="fa fa-pencil edit-icon"></i>
            </div>
            <div class="account-field">
                <label>Email:</label>
                <span>@Model.Email</span>
                <i class="fa fa-pencil edit-icon"></i>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Account.js"></script>
