<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Netflix Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Account.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="~/img/Netflix_Symbol_RGB.png" alt="Netflix Logo" class="navbar-logo" />
        </div>
        <ul class="nav-links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Favorites", "Home")">Favorites</a></li>
            <li><a href="@Url.Action("WatchLater", "Home")">Watch Later</a></li>
            <li><a href="@Url.Action("Watched", "Home")">Watched</a></li>
            <li><a href="@Url.Action("Account", "Home")">Account</a></li>
        </ul>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>Zsolt Szabó - Web Application Development, Semester 2</p>
    </footer>

</body>
</html>

